API_VERSION="v1"
APP_NAME="users service"
APP_PORT=3336

DATABASE_DRIVER=postgres
DATABASE_HOST=postgres_users-api
DATABASE_PORT=5432
DATABASE_USER=tester
DATABASE_PASSWORD=postgres
DATABASE_DBNAME=test-db

KAFKA_URL=kafka:9092